* {margin: 0;
    font-family: Roboto, sans-serif;
	} 

body{ 
display: flex; 
flex-direction: column;
align-items: center; 
overflow: scroll;


} 

h1{
	font-size: 32px;
}



header {
        display: flex; 
        height: 50px; 
        position: fixed; 
        z-index:1; 
   		width: 100%; 
    	max-width: 1024px;
    	box-shadow: 0px 2px 5px;
    	background-color: white;
    	justify-content: space-between;

}
#main{

	z-index:0;
	margin-top: 50px;
	display: flex; 
	flex-direction: column;
    align-self: center; 
    width: 100%; 
    max-width: 1024px;
    box-shadow: 0px 2px 5px;
}


#logoGroup{
	display: flex;
}

.logo{	
	width: 70px;
	color: #000000;
	font-family: Righteous;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	align-self: center;
}

.logo_pic{
	height: 50px;
}

#empty{
	width: 120px
}

.top{
	display: inline;
	width: 90%;
	align-self: center;
	display: flex;


}

#switch{
	margin: auto;
}

#day{
	display: flex;
	flex-wrap: wrap;
	padding-left: 10%;
	padding-right: 10%;
	margin-top:4%;
	
}
#date{
	width: 100%

}
#food{
	margin: 5% 1% 3% 1%;
	width: 48%;
	box-shadow: 0px 2px 5px;
	padding-left: 20px;
}
#food_position{
	display: flex;
	width: 30px;
	height: 27px;
}



#food p:first-child {
	font-weight: bold;
	margin-bottom: 15px;

}



textarea{
	resize: none;
	width: 99%;
	height: 60%;
	margin-bottom: 5%

}

#area_and_button{
	display: flex;
	flex-direction: column;
	margin: 1% 1% 1% 1%;
	width: 48%;
}


#uncheck_button{
  width: 290px;
  height: 40px;
  color: #000000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  text-align: left;
}

/*----------ПЕРЕКЛЮЧАТЕЛЬ - ЕМ, не ЕМ-----------*/
#wrapper {
  display: flex;
  align-items: center;
}
#switch_top {
  position: relative;
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 10px;
}

#switch_top input {display:none;}

#slider_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 1px;
}

#slider_top:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: -12px;
  background-color: rgba(54, 181, 199, 1);
  transition: .4s;
  border-radius: 50%;
}

#checkbox_switch:checked + #slider_top {
  background-color: rgba(187, 187, 187, 1);;
}

#checkbox_switch:checked + #slider_top:before {
  -webkit-transform: translateX(26px);

s
}


@media screen and (max-width: 500px) {#food {width: 90%;} } 
@media screen and (max-width: 500px) {.logo, .logo_pic, #empty {display: None} } 
@media screen and (max-width: 500px) {main {
	padding-left: 2%; 
	padding-right: 0;
	} 
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	height: 20px;
    width: 20px;

}

.container input {
    position: absolute;
    display: none;
    cursor: pointer;


}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
}

.container input:checked + .checkmark {
    background-color: #26a69a;
    border: 2px solid #26a69a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked + .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 4px;
    top: -1px;
    width: 3px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}
.checkmark p {
margin-left: 30px;
padding-top: 50px;

;

}


